.Splash {
  background-image: url("/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Header {
  background-color: rgba(0, 0, 0, 0.2);
}

.HeaderInner {
  padding: 16px 0;
  display: flex;
  justify-content: space-between;
}

.Logo {
  max-width: 140px;
}

.Hero {
  padding: 88px 0 120px;
}

.Hero h1 {
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 3.5rem;
  line-height: 4.5rem;
  max-width: 700px;
  margin: 0;
}

.Hero p {
  color: #fff;
  font-size: 1.15rem;
  line-height: 1.75rem;
  max-width: 650px;
  box-shadow: 0 0 0 12px rgb(0 0 0 / 10%);
  background: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.container {
  max-width: 1020px;
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;
}

.containerHalf {
  max-width: 510px;
  width: 100%;
}

.containerHalf.Left {
  padding-left: 16px;
  padding-right: 10%;
  margin-left: auto;
}

.containerHalf.Right {
  padding-right: 16px;
  padding-left: 10%;
  margin-right: auto;
}

.CTABtns {
  display: flex;
  align-items: baseline;
  margin-top: 24px;
}

.BtnGroup {
  display: flex;
  align-items: center;
}

.BtnGroup .Button {
  margin-left: 16px;
}

.Button {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 15px;
  padding: 8px 16px;
  transition: 0.1s background-color;
  border-radius: 4px;
}

.Button.BtnOutline {
  border: 1px solid rgba(126, 155, 200, 1);
  background: rgba(126, 155, 200, 0.08);
}

.Button.BtnLarge {
  padding: 12px 56px;
  font-size: 20px;
  margin-right: 16px;
}

.Button:hover,
.Button:active {
  background: rgba(126, 155, 200, 0.35);
}

.Columns {
  display: flex;
  color: #fff;
}

.Columns > div {
  width: 50%;
  padding: 32px 0;
}

.Columns h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 22px;
}

.Features {
  background-color: #743a3d;
}

.Features ul {
  line-height: 2rem;
  padding-left: 18px;
}

.FeaturesBg {
  background-image: url("/planning.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Collaborative {
  background-color: #404a56;
}

.Collaborative p {
  line-height: 1.65rem;
}

.CollaborativeBg {
  background-image: url("/hiking.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%;
}

.Footer {
  padding: 24px 0;
  background-color: #1D3D6A;
}

.FooterInner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 800px) {
  .Hero h1 {
    max-width: 100%;
    font-size: 32px;
    line-height: 2.5rem;
  }

  .Columns {
    flex-direction: column;
  }
  
  .Columns > div {
    width: 100%;
  }

  .FeaturesBg {
    display: none;
  }

  .CollaborativeBg {
    display: none;
  }

  .containerHalf {
    max-width: 100%;
  }

  .containerHalf.Left {
    padding: 0 20px;
  }
  
  .containerHalf.Right {
    padding: 0 20px;
  }
}

@media screen and (max-width: 480px) {
  .CTABtns {
    flex-direction: column;
    align-items: center;
  }

  .CTABtns .Button.BtnLarge {
    font-size: 18px;
    margin-right: 0
  }
}