.Splash {
  background-image: url("/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Header {
  background-color: rgba(0, 0, 0, 0.2);
}

.HeaderInner {
  padding: 16px 0;
  display: flex;
  justify-content: space-between;
}

.Logo {
  max-width: 140px;
}

.Hero {
  padding: 88px 0 120px;
}

.Hero h1 {
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 3.5rem;
  line-height: 4.5rem;
  max-width: 700px;
  margin: 0;
}

.Hero p {
  color: #fff;
  font-size: 1.15rem;
  line-height: 1.75rem;
  max-width: 650px;
  box-shadow: 0 0 0 12px rgb(0 0 0 / 10%);
  background: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.container {
  max-width: 1020px;
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;
}

.BtnGroup {
  display: flex;
  align-items: center;
}

.BtnGroup .Button {
  margin-left: 16px;
}

.Button {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 15px;
  padding: 8px 16px;
  transition: 0.1s background-color;
  border-radius: 4px;
}

.Button.BtnOutline {
  border: 1px solid rgba(126, 155, 200, 1);
  background: rgba(126, 155, 200, 0.08);
}

.Button:hover,
.Button:active {
  background: rgba(126, 155, 200, 0.35);
}
